body {
    font-family: arial;
	font-size: 0.7em;
	/* Размер шрифта лучше всего задавать в em — относительной единице измерения. Пиксели и пункты — это абсолютные единицы измерения, 
	а проценты — относительные. Также размер шрифта можно задавать с помощью ключевых слов: small, large и т. д. Но их обычно не используют. */
    color: black;
    background-color: #fff;
    margin: 0px;
	/* внешние отступы элемента — отступы от внешней границы элемента до границ родительского элемента или до соседних элементов. 
	Можно задавать отступы для разных сторон с помощью свойств margin-left, margin-right,  margin-top, margin-bottom. */
    padding: 0px;
	/* Устанавливает значение полей вокруг содержимого элемента. Полем называется расстояние от внутреннего края 
	рамки элемента до воображаемого прямоугольника, ограничивающего его содержимое  */
}

.ramky{
	margin-left: 25%;
	margin-right: 25%;
}
.center{
	text-align: center;
}
.White-Block{
	color: white;
}
.zagolovok{
	font-family: 'Times New Roman';
	font-size: 17px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.zhirny{
	font-weight: bold;
}
.poluproz{
	opacity: 0.8;
}


/* *********************************************************************** */
/* main (first) block */

.header{
	/*background-color: rgb(22,0,67); /*#160043;*/ /*#27046d;*/
	/*background-blend-mode: luminosity;
	opacity: .9;*/
	background-image: url(assets/images/1b.jpg);
	/*max-height: 500px;
	max-width: 1000px;*/
	/*height: 60vh;*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.navigationbar{
	/*width: ;*/
	margin: 0 auto;
}
.navigation_left{
	float: left;
	margin-left: 20%;
	/*margin-right: 70%;*/
	padding-top: 15px;
}
.ltajam{
	/*position: absolute;
 	top: 50%;
	margin: 50% 0 0 0;*/
	/*vertical-align: middle;*/
	margin: px;
	/*position: absolute;
	top: 50%;
	transform: translate(0, -50%);*/
}
.navigation_right{
	/*box-sizing: border-box;*/
	padding-top: 30px;
	margin-left: 45%;
}
.navi_buttons{
	/*display: block;*/
	box-sizing: border-box;
	margin: 0px;
	padding: 4px;
	padding-top: 10px;
	/*width: 20%;*/
	max-width: 150px;
	max-height: 50px;
	background: #fff; /* запасной цвет для старых браузеров */
	background: rgba(255, 255, 255, 0);
	border: 0px solid #fff;
	border-radius: 2px;
	color: #fff;
	font-size: 1em;
	text-align: center;
	outline: none;
	/*text-decoration: none;*/
	/*letter-spacing: 1px;*/
	/*transition: all 0.3s ease-out;*/	
}
.navi_buttons:hover{
	border: 0px solid #1ae3d5;
	color: #1ae3d5;
}
.main_first_text{
	/*margin:20px;*/
	padding-top: 80px;
	padding-bottom: 10px;
}
.main_text{
	margin-top: 20px;
	margin-bottom: 40px;
}
.main_phrase{
	font-size: 22px;
}
.logoclass{
	width: 150px;
	height: 150px;
}
.learn_button{
	display: block;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 8px;
	padding-top: 10px;
	width: 20%;
	max-width: 150px;
	max-height: 50px;
	background: #fff; /* запасной цвет для старых браузеров */
	background: rgba(255, 255, 255, 0);
	border: 1px solid #1ae3d5;
	border-radius: 4px;
	color: #1ae3d5;
	text-align: center;
	font-weight: bold;
	outline: none;
	/*text-decoration: none;*/
	/*letter-spacing: 1px;*/
	/*transition: all 0.3s ease-out;*/
}
.learn_button:hover{
	border: 1px solid #fff;
	color:#fff;
}
.learn_button:active{
	background: rgba(255, 255, 255, 0.3);
	border: 1px solid #fff;
	color: #fff;
}
.main_dotnav{
	padding-bottom: 20px;
}
.dots{
	/*display: block;*/
	box-sizing: border-box;
	margin: 0px;
	padding: 4px;
	/*padding-top: 10px;*/
	/*width: 20%;*/
	max-width: 150px;
	max-height: 50px;
	background: #fff; /* запасной цвет для старых браузеров */
	background: rgba(255, 255, 255, 0);
	border: 1px solid #fff;
	border-radius: 5px;
	color: #1ae3d5;
	text-align: center;
	outline: none;
	/*text-decoration: none;*/
	/*letter-spacing: 1px;*/
	/*transition: all 0.3s ease-out;*/
}
.dots:hover{
	background: #fff;
	border: 1px solid #fff;
	color:#fff;
}
.dots:focus{
	background: #1ae3d5;
	border: 1px solid #1ae3d5;
	color:#1ae3d5;
}

/* ************************************************************************* */
/* about us block */

.about{
	margin: 0 auto;
}
.about_left{
	float: left;
	margin-left: 22%;
	padding-top: 7em;
}
.about_right{
	margin-left: 45%;
	padding-top: 60px;
	padding-bottom: 25px;
}
/*
.about_phrase{
	font-size: 17px;
}
*/
.about_textes{
	padding-top:10px;
	padding-bottom:10px;
	/*padding-right: 80px;*/
}
.about_learn_button{
	margin-left: 45%;
	padding-top: 10px;
	padding-bottom: 60px;
}
.ab_learn_button{
	display: block;
	box-sizing: border-box;
	/*margin: 0 auto;*/
	padding: 8px;
	padding-top: 10px;
	width: 20%;
	max-width: 150px;
	max-height: 50px;
	background: #fff;
	background: rgba(255, 255, 255, 0);
	border: 1px solid #1ae3d5;
	border-radius: 4px;
	color: #1ae3d5;
	text-align: center;
	font-weight: bold;
	outline: none;
}
.ab_learn_button:hover{
	border: 1px solid #160043;
	color:#160043;
}
.ab_learn_button:active{
	background: rgba(22, 0, 67, 0.3);
	border: 1px solid #160043;
	color: #160043;
}

/* *********************************************************************** */
/* about video block */

.about_video{
	/*background-color: rgb(22,0,67); /*#160043;*/ /*#27046d;*/
	/*background-blend-mode: luminosity;
	opacity: .9;*/
	background-image: url(assets/images/2b.jpg);
	/*max-height: 500px;
	max-width: 1000px;
	max-height: 250px;*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.about_video_text{
	/*margin-top:20px;*/
	padding-top: 150px;
	padding-bottom: 130px;
}
.about_video_button{
	display: block;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 8px;
	padding-top: 10px;
	width: 5em;
	height: 5em;
	/*max-width: 150px;
	max-height: 50px;*/
	background: #fff; /* запасной цвет для старых браузеров */
	background: rgba(255, 255, 255, 0);
	border: 2px solid #fff;
	border-radius: 100%;
	color: #fff;
	text-align: center;
	font-weight: bold;
	outline: none;
}
.video_play_button{
	color: rgba(255,255,255,1);
	width: 2em;
	padding-left: 0.3em;

	transition: 200ms;
  	transition-timing-function: ease-in-out;
  	-webkit-transition: 200ms;
  	-webkit-transition-timing-function: ease-in-out;

}
.video_play_button:hover{
	fill: #1ae3d5;
}
.about_video_button:hover{
	border: 2px solid #1ae3d5;
	color:#1ae3d5;
	
}
.about_video_button:active{
	background: rgba(255, 255, 255, 0.3);
	border: 2px solid #1ae3d5;
	color: #1ae3d5;
}
.videotext{
	padding: 2em;
}

/* ********************************************************************** */
/* expertise block */

.expertise_title{
	padding: 40px;
}
.expertise_items_block {
	padding-left: 25%;
	padding-right: 25%;
	margin-bottom: 30px;
	/*генерирует flex-контейнер уровня блока*/
	display: -webkit-flex; 
	display: flex; 
	flex-direction: row;
	/*flex-wrap: wrap;*/
}
.expertise_icons{
	height: 4em; /*3?*/
	width: 4em;
	padding: 4em;
	padding-left: 6em;
	padding-right: 6em;
}
.expertise_items_header{
	padding: 10px;
}
.expertise_items_textes{
	padding: 10px;
	padding-bottom: 20px;
}

/* ************************************************************************ */
/* team block */

.team{
	background-image: url(assets/images/3b.jpg);
	min-height: 250px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.team_title{
	padding: 30px;
}
.team_phrase{
	padding-top: 20px;
}
.team_items{
	/*padding-left: 25%;
	padding-right: 25%;*/
	padding-top: 20px;
	padding-bottom: 20px;
	/*генерирует flex-контейнер уровня блока*/
	display: -webkit-flex; 
	display: flex; 
	flex-direction: row;
	justify-content: center;
	/*flex-wrap: wrap;*/
}
.team_item{
	margin: 10px;
}
.team_icons{
	width: 12em;
	height: 13em;
}
.team_items_header{
	margin-top: 1em;
	margin-bottom: 0.5em;
}
.team_items_textes{
	margin-top: 0.25em;
	margin-bottom: 1em;
	opacity: 0.6;
}
.team_group_button{
	padding-top: 20px;
	padding-bottom: 30px;
}
.a_team_button{
	margin-top: 20px;
	margin-bottom: 20px;
}
.team_button{
	display: block;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 8px;
	padding-top: 10px;
	width: 20%;
	max-width: 150px;
	max-height: 50px;
	background: #fff; /* запасной цвет для старых браузеров */
	background: rgba(255, 255, 255, 0);
	border: 1px solid #1ae3d5;
	border-radius: 4px;
	color: #1ae3d5;
	text-align: center;
	font-weight: bold;
	outline: none;
	/*text-decoration: none;*/
	/*letter-spacing: 1px;*/
	/*transition: all 0.3s ease-out;*/
}
.team_button:hover{
	border: 1px solid #fff;
	color:#fff;
}
.team_button:active{
	background: rgba(255, 255, 255, 0.3);
	border: 1px solid #fff;
	color: #fff;
}

/* ************************************************************************ */
/* works block */

.works_title{
	padding: 40px;
	/*генерирует flex-контейнер уровня блока*/
	display: -webkit-flex; 
	display: flex; 
	flex-direction: row;
	/*flex-wrap: wrap;*/
	justify-content: space-around;
	align-items: center;
}
.works_image{
	width: 1em;
	height: 1em;
}
.works_text_box{
	/*генерирует flex-контейнер уровня блока*/
	display: -webkit-flex; 
	display: flex; 
	flex-direction: row;
	/*flex-wrap: wrap;*/
	justify-content: flex-end;
	align-items: center;
}

.a_works_button{
	padding: 40px;
}
.works_button{
	display: block;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 8px;
	padding-top: 10px;
	width: 20%;
	max-width: 150px;
	max-height: 50px;
	background: #fff;
	background: rgba(255, 255, 255, 0);
	border: 1px solid #1ae3d5;
	border-radius: 4px;
	color: #1ae3d5;
	text-align: center;
	font-weight: bold;
	outline: none;
}
.works_button:hover{
	border: 1px solid #160043;
	color:#160043;
}
.works_button:active{
	background: rgba(22, 0, 67, 0.3);
	border: 1px solid #160043;
	color: #160043;
}

/* ************************************************************************* */
/* testimonials block */

.testimonials{
	background-image: url(assets/images/4b.jpg);
	min-height: 250px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* ************************************************************************ */
/* contact block */



/* ************************************************************************ */
/* footer block */

.footer{
	background-image: url(assets/images/5b.jpg);
	min-height: 250px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}



/* *********************************************************************** */
/* other */

h1 {
    color: black;
	font-family: arial;
    background-color: #900;
    font-size: 2em;
    margin: 0;
    margin-bottom: 7px;
    padding: 4px;
    /*font-style: italic;*/
    text-align: center;
    /* letter-spacing: 0.5em; 
    border-bottom-style: solid;
	Устанавливает стиль границы внизу элемента. */
    border-bottom-width: 0.5em;
    border-bottom-color: #c00;
}
h2 {
    color: black;
    background-color: #d00;
    font-size: 1.5em;
    margin: 0;
    padding: 2px;
    padding-left: 14px;
}
img {
    fill: black;
}
a {
    text-decoration: none;
}
strong {
    font-style: italic;
    text-transform: uppercase;
}
li {
    color: #900;
    font-style: italic;
}
table {
    background-color: #ccc;
}

